.button {
    display: flex;
    min-height: 20px;
    min-width: 20px;
    padding: 10px 25px;
    /* default button to blue */
    background: var(--blue);
    border: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    align-items: center;
}
.button:hover {
    cursor: pointer;
}
.button * {
    float: left;
}
.button-icon {
    padding-right: 10px;
}
.button:focus {
    border: none;
    outline:0;
}

/* % built in colors: white, red, yellow, green, blue */

/* WHITE BUTTONS */
.button-white {
     color: var(--off-black);
     fill: var(--off-black);
     background: var(--white);
    border: 2px solid var(--off-black);
}
.button-white:focus {
    background: var(--grey);
    border: 2px solid var(--off-black);
}
/* RED BUTTONS */
.button-red {
     color: var(--off-white);
     fill: var(--off-white);
     background: var(--dark-red);
 }
.button-red:focus {
    background: var(--red);
}


/* YELLOW BUTTONS */
.button-yellow {
    color: var(--off-black);
    fill: var(--off-black);
    background: var(--yellow);
}
.button-yellow:focus {
    background: var(--dark-yellow);
}


/* GREEN BUTTONS */
.button-green {
    color: var(--off-white);
    fill: var(--off-white);
    background: var(--green);
}
.button-green:focus {
    background: var(--dark-green);
}


/* BLUE BUTTONS */
.button-blue {
    color: var(--off-white);
    fill: var(--off-white);
    background: var(--dark-blue);
}
.button-blue:focus {
     background: var(--blue);
 }