.body {
    position: absolute;
    padding: 120px 25px 0px 25px;
    top: 0;
    left: 320px;
    right: 0;
    height: 100%;
    background: var(--off-white);
    color: var(--dark-grey);

    display: flex;
    justify-content: center;
}
.inner-body {
    width: 100%;
    max-width: 1000px;
}
.page-title {
    font-style: italic;
}
.form-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
}
.form-top .textField{
    width: 100%;
    max-width: 450px;

}

.form-code {
    margin: 50px 0;
    border: 2px solid var(--dark-grey);
    min-height: 100px;
}
.form-code-focus {
    border: 2px solid var(--green);
}

.form-bottom {
    margin-bottom: 150px;
}

@media screen and (max-width: 1000px) {
    .body {
        left: 0;
    }
}
@media print {
    .nav {
        visibility: hidden;
        display: none;
    }
    .toolbar {
        visibility: hidden;
        display: none;
    }
    .body {
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        height: 100%;
    }
    .inner-body {
        height: 100%;
    }

    .page-title {
        visibility: hidden;
        display: none !important;
    }
    .form-top .textField{
        min-width: 50%;
        max-width: 50%;

    }
    .textField input{
        border: none !important;
    }
    .button {
        visibility: hidden !important;
        display: none !important;
    }
    .code-input {
        height: 100%;
    }
    .form-bottom {
        margin: 0;
    }
}