.toolbar {
    position: absolute;
    padding-top: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 25%;
    max-width: 320px;
    background: var(--dark-grey);
}

.opened {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}
.closed {
    transform: translate(-100%);
    transition: transform 500ms ease-in-out;
}

.toolbar * {
    color: var(--off-white);
    padding-left: 25px;
}
.toolbar *::selection {
    background: none;
}
.toolbar h1 {
    font-style: italic;
}
.toolbar ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.toolbar li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-weight: 700;
}

.toolbar li:hover {
    cursor: pointer;
    background: var(--off-black);
}

.toolbar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 0px;
    text-align: center;
}
.toolbar-footer span{
    padding: 0 15px;
    font-weight: 100;
    color: var(--off-white);
}

@media screen and (max-width: 1000px) {
    .toolbar {
        width: 80%;
        max-width: 400px;
    }
}
@media screen and (min-width: 1001px){
    .toolbar {
        transform: translate(0%) !important;
    }
}