.nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 80px;

    background: var(--green);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    padding: 0 25px 8px 25px;
}
.hamburger {
    padding-top: 25px !important;
    margin-right: 25px !important;
}
.hamburger:focus {
    outline: none;
}
@media screen and (min-width: 1000px){
    .hamburger {
        visibility: hidden !important;
        display: none !important;
    }
}
.nav-left h1 {
    color: var(--white);
    font-weight: 700;
    font-style: italic;
    font-size: 1.5rem;
}
.navbar h1:hover {
    color: var(--dark-green);
    cursor: pointer;
}
.navbar h1::selection {
    background: none;
}
.nav-right {
    width: 50%;
    padding: 0 25px;
}
.nav-right *{
    float: right;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
}
.backgroundShow {
    background: rgba(0,0,0, 0.25);
    visibility: visible;
}
.backgroundHidden {
    visibility: hidden;
    display: none;
}


@media screen and (max-width: 1000px){
    .nav-right {
        display: none;
    }
    .nav-left h1 {
        align-self: center;
        justify-self: center;
    }
    .hamburger {
        position: absolute;
        top: 0;
        left: 0;
    }
    .nav-left {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;

    }
}