@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700i');

:root {

    /* PROJECT COLORS --------------- */
    --white: #fff;
    --off-white: #eceff1;
    --grey: #e0e0e0;
    --black: #000;
    --off-black: #1b1b1b;
        /* Brand Colors */
        --green: #8bc34a;
        --light-green: #bef67a;
        --dark-green: #5a9216;
        /* Signal Colors */
        --red: #ff7961;
        --dark-red: #f44336;
        --yellow: #ffff72;
        --dark-yellow: #ffeb3b;
        --green: #8bc34a;
        --dark-green: #5a9216;
        --blue: #6ec6ff;
        --dark-blue: #2196f3;

    /* PROJECT FONTS --------------- */
        --brand: 'Sarabun', sans-serif;

    /* PROJECT ICONS --------------- */


    /* PROJECT OTHER STYLES --------------- */

}
.app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: var(--site-font);
}